*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -o-box-sizing:      border-box;
  -ms-box-sizing:     border-box;
  box-sizing:         border-box;
}
[draggable=true] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.drop-area {
 	position: relative;
  padding:0;
 	width: 100%;
 	height: 600px;
 	border: 1px solid #999;
}
.drop-area .item {
 	position: absolute;
	cursor: pointer;
  width:100px;
  height:60px;
	font-size: 105%;
  background: white;
  border: dashed 1px black;
  margin:0;
  padding:0;
}



